*~
.envrc
/.direnv/
/_build/
/result
/_site/
/target
/slides/*.nav
/slides/*.aux
/slides/*.log
/slides/*.out
/slides/*.pdf
/slides/*.snm
/slides/*.toc
/slides/*.upa
/slides/*.fdb_latexmk
/slides/*.xdv
/slides/*.fls
